<meta charset="utf-8" />
<title>{{ page.title }}</title>
<meta name="keywords" content="{{ page.keywords }}" />
<meta name="description" content="{{ site.description }}" />
<meta name="Author" content="{{ page.author }}" />

<!-- mobile settings -->
<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

<!-- facebook -->
<meta property="og:image" content="https://www.shifting.site/assets/images/happypeople.png" />
<meta property="og:type" content="image/png" />
<meta property="og:url" content="https://www.shifting.site/" /> 
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="Die Idee hinter Shift ist die Möglichkeit, mit einer neuen virtuellen Flüssigkeit, die von Menschen hergestellt wird, ein universelles Grundeinkommen zu schaffen." />

<!-- WEB FONTS -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet" type="text/css" />

<!-- CORE CSS -->
<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="assets/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
<link href="assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css" />
<link href="assets/plugins/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css" />
<link href="assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
<link href="assets/css/animate.css" rel="stylesheet" type="text/css" />
<link href="assets/css/superslides.css" rel="stylesheet" type="text/css" />

<!-- BLOG CSS -->
<link href="assets/css/blog.css" rel="stylesheet" type="text/css" />

<!-- THEME CSS -->
<link href="assets/css/essentials.css" rel="stylesheet" type="text/css" />
<link href="assets/css/layout.css" rel="stylesheet" type="text/css" />
<link href="assets/css/layout-responsive.css" rel="stylesheet" type="text/css" />
<link href="assets/css/color_scheme/{{ theme.accentcolor }}.css" rel="stylesheet" type="text/css" />
<link id="css_dark_skin" href="assets/css/layout-dark.css" rel="stylesheet" type="text/css" />

<!-- YOUR STYLE HERE -->
<link href="assets/css/style.css" rel="stylesheet" type="text/css" />

<!-- Morenizr -->
<script type="text/javascript" src="assets/plugins/modernizr.min.js"></script>

{% if site.useFbPixelCode == "true" %}
{% include "facebook-pixelcode.html" %}
{% endif %}

{{ plugin.styles }}
